<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{name}}</title>
	<link rel="stylesheet" type="text/css" href="common.css" />
</head>

<body bgcolor="#FFFFFF">

	<!-- HEADER -->
	<!-- <table class="head-wrap" bgcolor="#999999">
		<tr>
			<td></td>
			<td class="header container">

				<div class="content">
					<table bgcolor="#999999">
						<tr>
							<td>
								 <img src="http://placehold.it/200x50/" /> 
								 Rewardables 
							</td>
							<td align="right">
								<h6 class="collapse">Rewardables</h6>
							</td>
						</tr>
					</table>
				</div>

			</td>
			<td></td>
		</tr>
	</table> -->
	<!-- /HEADER -->

	<!-- BODY -->
	<table class="body-wrap">
		<tr>
			<td></td>
			<td class="container" bgcolor="#FFFFFF">

				<div class="content">
					<table>
						<tr>
							<td>
								<h3>Dear user</h3>
								<p class="lead">Welcome to {{name}}.</p>
								<p>You are receiving this email because your email address {{email}} was used to create an account on {{clientUrl}}</p>

								<!-- Callout Panel -->
								<p class="callout">
									Please click on the link below or paste it in your browser address bar to activate your account.
									<br>
									<a href="{{confirmationLink}}">{{confirmationLink}}</a>
								</p>
								<!-- /Callout Panel -->
								<p>If you did not sign up for {{name}}, please ignore this email. If you are receiving multiple copies of this message
									and want it to stop, just write a short reply to this email and we will ban whover might be misusing your email
									address.
								</p>
								<p>For technical assistance, you may call out international hotline below and talk a human. We are open 24/7.</p>
								<!-- social & contact -->
								<table class="social" width="100%">
									<tr>
										<td>

											<!-- column 1 -->
											<table align="left" class="column">
												<tr>
													<td>

														<h5 class="">Links</h5>
														<p class="">
															<!-- <a href="#" class="soc-btn fb">Facebook</a>
																	<a href="#" class="soc-btn tw">Twitter</a> 
																	<a href="#" class="soc-btn gp">Google+</a> -->
															<a href="{{clientUrl}}" class="soc-btn tw">{{name}}</a>
															<!-- <a href="https://github.com/iShafayet/Rewardables" class="soc-btn tw">Github (Source code)</a> -->
														</p>


													</td>
												</tr>
											</table>
											<!-- /column 1 -->

											<!-- column 2 -->
											<table align="left" class="column">
												<tr>
													<td>

														<h5 class="">Contact Info:</h5>
														<p>
															Phone:
															<strong>
																{{supportPhone}}
															</strong>
															<br/> Email:
															<strong>
																<a href="mailto:{{supportEmail}}">{{supportEmail}}</a>
															</strong>
														</p>

													</td>
												</tr>
											</table>
											<!-- /column 2 -->

											<span class="clear"></span>

										</td>
									</tr>
								</table>
								<!-- /social & contact -->

							</td>
						</tr>
					</table>
				</div>
				<!-- /content -->

			</td>
			<td></td>
		</tr>
	</table>
	<!-- /BODY -->

	<!-- FOOTER -->
	<table class="footer-wrap">
		<tr>
			<td></td>
			<td class="container">

				<!-- content -->
				<div class="content">
					<table>
						<tr>
							<td align="center">
								<p>
									<a href="{{clientUrl}}/#/about">Terms</a> |
									<a href="{{clientUrl}}/#/about/tab:privacy">Privacy</a>
									<!--  | <a href="#">
												<unsubscribe>Unsubscribe</unsubscribe>
											</a> -->
								</p>
							</td>
						</tr>
					</table>
				</div>
				<!-- /content -->

			</td>
			<td></td>
		</tr>
	</table>
	<!-- /FOOTER -->

</body>

</html>